@using PicusPicks.Web.Components.Account
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor
@inherits LayoutComponentBase

<MudLayout>
    <AuthorizeView>
        <Authorized>
            <MudAppBar Elevation="1">
                <MudText Typo="Typo.h5">Picus Picks</MudText>
                <MudSpacer />
                <LoginDisplay />
            </MudAppBar>
            <MudDrawer Open="true" ClipMode="DrawerClipMode.Always" Elevation="2" Variant="@DrawerVariant.Persistent">
                <NavMenu />
            </MudDrawer>
            <MudMainContent>
                <MudContainer MaxWidth="MaxWidth.Large" Class="my-4 pt-4">
                    @Body
                </MudContainer>
            </MudMainContent>
        </Authorized>
        <NotAuthorized>
            <MudMainContent>
                <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex justify-center align-center" Style="height: 100vh;">
                    @Body
                </MudContainer>
            </MudMainContent>
        </NotAuthorized>
    </AuthorizeView>
</MudLayout>

@code {
    // Component code (if needed in the future)
}

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <button class="dismiss">🗙</button>
</div>
