@page "/"

<PageTitle>Picus Picks - League Table</PageTitle>

<div class="home-container">
    <h1>League Table</h1>
    <p class="lead">See how you stack up against other players!</p>

    <LeagueTable />
</div>
